/* Definindo variáveis para cores e espaçamentos */
:root {
    --primary-bg: #abb1b1;
    --primary-color: #000000;
    --secondary-color: #474747;
    --highlight-color: #7fffd4;
    --text-color: #fff;
    --spacing: 30px;
    --transition-duration: 0.3s;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--primary-bg);
    user-select: none;
    margin: 0;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
    background: linear-gradient(
        325deg,
        var(--primary-color) 0%,
        var(--secondary-color) 30%,
        #5c5c5c 70%,
        var(--primary-bg) 100%
    );
    padding: 40px 60px;
    border-radius: 12px; /* Adicionando cantos arredondados */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h2 {
    font-size: 3em;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0; /* Remover margens padrão */
}

.reset {
    padding: 15px 20px;
    width: 100%;
    color: var(--primary-color);
    background: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    transition: background-color var(--transition-duration), color var(--transition-duration); /* Adicionando transição */
}

.reset:focus {
    color: var(--secondary-color);
    background-color: var(--highlight-color);
    outline: none; /* Remover outline padrão */
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    perspective: 800px; /* Aumentando o efeito 3D */
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bg);
    font-size: 3em;
    transform: rotateY(180deg);
    transition: transform var(--transition-duration), background-color var(--transition-duration); /* Suavizando transição */
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--highlight-color);
    transition: transform var(--transition-duration), opacity var(--transition-duration);
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}